<section class="container">
  <h2 class="title">Cezar algotizm</h2>
  <div class="textBlock-content">
    <textarea name="" id="" cols="30" rows="10" [(ngModel)]="textValue"
      placeholder="Write your message here..."></textarea>
    <div class="result">{{coding_result}}</div>
  </div>
  <input type="text" class="variant" [(ngModel)]="variantValue">
  <div class="algorizm-button">
    <button class="code_algorizm_button" (click)="codeAlgorizm()">Code</button>
    <button class="decode_algorizm_button" (click)="decodeAlgorizm()">Decode result</button>
  </div>
</section>
