<section class="container">
  <h2 class="title">Hill code</h2>

  <div class="code-block">
    <p>Enter you code here</p>
    <div class="code-content">
      <div class="code-input"><input class="input" type="text" [(ngModel)]="textBox1"> <input type="text" class="input"
          [(ngModel)]="textBox2"> <input type="text" class="input" [(ngModel)]="textBox3"></div>
      <div class="code-input"><input type="text" class="input" [(ngModel)]="textBox4"> <input type="text" class="input"
          [(ngModel)]="textBox5"> <input type="text" class="input" [(ngModel)]="textBox6"></div>
      <div class="code-input"><input type="text" class="input" [(ngModel)]="textBox7"> <input type="text" class="input"
          [(ngModel)]="textBox8"> <input type="text" class="input" [(ngModel)]="textBox9"></div>
    </div>
  </div>
  <div class="button-block">
    <div class="input__upload">
      <div class="upload-btn-wrapper">
        <button class="btn">Upload file for encode</button>
        <input type="file" id="" (change)="readFileForEncode($event.target)">
      </div>
    </div>

    <button class="btn-reverse" (click)="button4_Click()">Reverse code</button>

    <div class="input__upload">
      <div class="upload-btn-wrapper">
        <button class="btn">Upload file for decode</button>
        <input type="file" id="" (change)="readFileForDecode($event.target)">
      </div>
    </div>
  </div>


</section>
